body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
}
#title-logo {
  cursor: pointer;
}
/* Header */
#header {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}
#header h1 {
  color: green;
}

#header a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 18px;
  padding-left: 20px;
}
#header a:hover {
  color: gray;
}

/* Main */
#main {
  overflow: hidden;
  padding-top: 10px;
  height: 92vh;
  text-align: center;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#main > h1,
#main p {
  color: #fff;
  font-weight: bolder;
}
#cards {
  width: 60%;
  margin: auto;
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#search,
.result {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  height: 45vh;
  width: 18vw;
  overflow: auto;
}
#search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#cards input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#cards input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#cards input[type="submit"]:hover {
  background-color: #45a049;
}

.result-base {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.result-books {
  display: flex;
  justify-content: space-around;
  background-color: bisque;
  align-items: center;
  margin: 15px;
  border-radius: 3px;
}
.result-books p {
  color: black;
}
#divider {
  border: 1px solid green;
  width: 200px;
  margin: auto;
}

#logo {
  border-bottom: 1px solid green;
}

/* Cart */
#cart,
#booking {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#empty,
#my-cart,
#book-empty,
#my-booking {
  text-align: center;
  width: 600px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
}

#empty,
#book-empty {
  display: none;
}

#total-basket {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  background-color: lightblue;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
